{% extends 'base.html' %}
{% block content %}
{% load static %}
<p>
<h4>ВСЕМ ПРИВЕТ!!!!</h4>
</p>
<p>
    Итак, друзья, вы зашли на мою личную страничку. <br>
    Не знаю, друг вы, или будущий работадатель, но
    Эта страничка сделана на Django 3 с использованием инструментов Bootstrap. <br>
    Честно признаюсь, даже не знаю, что можно здесь для вас открытиь нового, в то время, когда социальнцые сети уже хранят
    огромное количество информации о нас с вами. <br>
    Но все же, кое что могу вам показать. Итак, листайте меню, переходите по ссылкам и оставляйте комментарии!
</p>
<p>Ну пока, можете полистать фото с поездки в Монголию в 2017 году<br></p>

<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/IMG_1.jpg" class="d-block w-100 img-fluid" alt="ой, картинка пропала...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/IMG_2.jpg" class="d-block w-100 img-fluid" alt="ой, картинка пропала...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/IMG_3.jpg" class="d-block w-100 img-fluid" alt="ой, картинка пропала...">
    </div>
      <div class="carousel-item">
      <img src="/static/img/IMG_4.jpg" class="d-block w-100 img-fluid" alt="ой, картинка пропала...">
    </div>
      <div class="carousel-item">
      <img src="/static/img/IMG_5.jpg" class="d-block w-100 img-fluid" alt="ой, картинка пропала...">
    </div>
      <div class="carousel-item">
      <img src="/static/img/IMG_6.jpg" class="d-block w-100 img-fluid" alt="ой, картинка пропала...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}